html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
#main {
    padding: 10px 30px;
    height: 100%;
}
h3 {
    margin: 20px 0;
}
.cell-line {
    height: 40px;
    width: 100%;
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cell-line:not(:last-child):after {
    content: '';
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    left: -10px;
    border-bottom: 1px solid #DCDEE2;
    bottom: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
.action-btn {
    color: #409EFF;
    cursor: pointer;
}
.action-btn:hover {
    opacity: 0.8;
}
.red {
    color: #dd6161;
}
.el-pagination {
    text-align: right;
    margin-top: 5px;
}